[submodule "tests/polybenchGpu"]
	path = tests/polybenchGpu
	url = https://github.com/sgrauerg/polybenchGpu
[submodule "tests/simulee/kaldi"]
	path = tests/simulee/kaldi
	url = https://github.com/kaldi-asr/kaldi
[submodule "tests/simulee/thundersvm"]
	path = tests/simulee/thundersvm
	url = https://github.com/Xtra-Computing/thundersvm
[submodule "tests/simulee/CUDA-CNN"]
	path = tests/simulee/CUDA-CNN
	url = https://github.com/zhxfl/CUDA-CNN
[submodule "tests/simulee/cudpp"]
	path = tests/simulee/cudpp
	url = https://github.com/cudpp/cudpp
[submodule "tests/simulee/CudaSift"]
	path = tests/simulee/CudaSift
	url = https://github.com/Celebrandil/CudaSift
[submodule "tests/simulee/gunrock"]
	path = tests/simulee/gunrock
	url = https://github.com/gunrock/gunrock
[submodule "tests/GkleeTests"]
	path = tests/GkleeTests
	url = https://github.com/Geof23/GkleeTests
[submodule "tests/simulee/arrayfire"]
	path = tests/simulee/arrayfire
	url = https://github.com/arrayfire/arrayfire
